@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  @apply bg-default-100 p-2 w-full;
}
.card-header {
  @apply flex gap-3 items-center;
}

.card-header-icon {
  @apply stroke-default-400 size-6 sm:size-7;
}
.card-header-title {
  @apply uppercase text-lg sm:text-xl text-default-400;
}
.forecast-card-body {
  @apply flex overflow-x-auto flex-row gap-6 p-4;
}
.forecast-card-body-child {
  @apply flex justify-center items-center gap-4 flex-shrink-0 rounded-2xl py-4 px-6;
}

@layer utilities {
  .is-day {
    background-image: linear-gradient(50deg, #60a5fa, #38bdf8);
  }

  .is-night {
    background-image: linear-gradient(50deg, #312e81, #1e40af);
  }

  .is-day::after {
    content: "☀️";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }

  .is-night::after {
    content: "🌙";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }
}
